{% extends 'pollingSite/base.html' %}
{% block content %}
<label style="text-align:center"><font size="6"><b>{{ poll.name }}</b></font></label>
<div class="row">
    <div class="two columns"><label><b>&nbsp;</b></label></div>
    <div class="five columns"><label style="text-align:right; font-size:xx-large"><b>Total Submissions:</b></label></div>
    <div class="two columns"><input type="text" readonly /></div>            <div class="four columns"><label><b>&nbsp;</b></label></div>
</div>

<div class="row">
       
            {% for option in options %}
            <div class="row">
                <div class="one column"><label style="text-align:right; font-size:xx-large"><b>{{ option }}.</b></label></div>
                <div class="one column"><input type="text" readonly /></div>
            </div>
            {% endfor %}
                  
    <div class="row">
    <div class="four columns"><label><b>&nbsp;</b></label></div>
    <div class="four columns"><button type="submit" style="background-color: #990000"><a  style="text-decoration:none; color:inherit" href="{% url 'pollingSite:pollList' poll.classroom.id %}"> Close Poll </a></button></div>
    <div class="four columns"><label><b>&nbsp;</b></label></div>

</div>
</div>
{% endblock content %}