{% extends 'pollingSite/base.html' %}

{% block content %}
<div class="row">
    <div><a style="text-decoration:none; color:inherit" href="{% url 'pollingSite:addClass' %}"><button type="submit" style="background-color: #990000">Add Class</button></a></div>
</div>
{% for class in classroom %}
<div class="row">
    <div class="six columns">
        {% ifchanged class.quarter or class.year %}
        <br/>
        <font size="6" style="">
               <u> {{ class.get_quarter_display }} {{ class.year }}</u>
        </font>
        <br/>
        {% endifchanged %}
        <div class="four columns">
            <font size="3">
            <a style="text-decoration:none; color:inherit" href="{% url 'pollingSite:pollList' class.id %}">
                {{ class.className }}
            </a>
            </font>
        </div>
        <div class="four columns">
            <font size="3">
                <a style="text-decoration:none; color:inherit" href="{% url 'pollingSite:copy' class.id %}">
                    Copy
                </a>
            </font>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content%}