{% extends 'pollingSite/base.html' %}
{% block content %}
        <div class="row">
            <div class="four columns"><font size="5"><b>Date</b></font></div>
            <div class="three columns"><font size="5"><b>Answers</b></font></div>
            <div class="five columns"><font size="5"><b>Percent Correct</b></font></div>
        </div>
        <div class="row">
            <div class="column"><font size="5"><b></b></font></div>
        </div>
        <div class="row">
            <div class="four columns"><font size="5"><b>1.06.18</b></font></div>
</div>
        <div class="row">
            <div class="four columns"><font size="3"><b>Doe, Jane</b></font></div>
            <div class="four columns"><font size="3"><b>14/15</b></font></div>
            <div class="four columns"><font size="3"><b>93%</b></font></div>
        </div>
        <div class="row">
            <div class="four columns"><font size="3"><b>Elliot, Jen</b></font></div>
            <div class="four columns"><font size="3"><b>15/15</b></font></div>
            <div class="four columns"><font size="3"><b>100%</b></font></div>
        </div>
        <div class="row">
            <div class="four columns"><font size="3"><b>...</b></font></div>
        </div>
        <div class="row">
            <div class="four columns"><font size="5"><b>1.07.18</b></font></div>
        </div>
        <div class="row">
            <div class="four columns"><font size="3"><b>Doe, Jane</b></font></div>
            <div class="four columns"><font size="3"><b>15/15</b></font></div>
            <div class="four columns"><font size="3"><b>100%</b></font></div>
        </div>
        <div class="row">
            <div class="four columns"><font size="3"><b>Bob, Smith</b></font></div>
            <div class="four columns"><font size="3"><b>15/15</b></font></div>
            <div class="four columns"><font size="3"><b>100%</b></font></div>
        </div>
        <div class="row">
            <div class="four columns"><font size="3"><b>...</b></font></div>
        </div>
{% endblock content %}