{% load static %}
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="{% static 'pollingSite/css/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'pollingSite/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'pollingSite/css/WAWIA.css' %}">
    {% block css %}{% endblock css %}
    
    <meta charset="utf-8" />
    <title></title>
</head>
{% block body %}
<body>
    <div class="container" >

        <!-- columns should be the immediate child of a .row -->
        {% block navbar %}{% include 'pollingSite/navbar.html' %}{% endblock navbar %}
       {% block content %}{% endblock content %}
    </div>
    {% block JavaScrpt %}{% endblock JavaScrpt %}
</body>
{% endblock body %}

</html>