{% extends 'pollingSite/base.html' %}
{% block content %}
<div class="row">
    <div class="three columns"><button type="submit">Home</button></div>
    <div class="three columns"><button type="submit">Search</button></div>
    <div class="three columns"><button type="submit" style="background-color: #990000">Account Settings</button></div>
    <div class="three columns"><button type="submit">Log Out</button></div>
</div>
<label><b>Current Password </b></label>
<input type="text" placeholder="Enter Current password" name="CurPassword" required>

<label><b>New Password</b></label>
<input type="password" placeholder="Enter New Password" name="Newpsw" required>
<label><b>Confirm New Password</b></label>
<input type="password" placeholder="Re-Enter New Password" name="RNewpsw" required>

<div class="four columns"><label><b>&nbsp;</b></label></div>
<div class="three columns"><button type="submit"style="background-color: #990000">Change Password</button></div>
<div class="five columns"><label><b>&nbsp;</b></label></div>
{% endblock content %}