{% extends 'pollingSite/base.html' %}

{% block content %}
<div class="row">
    &nbsp;
</div>
<div class="row">
    &nbsp;
</div>
<div class="row">
    <div class="six columns">&nbsp;</div>
    <div class="three columns"><a style="text-decoration:none; color:inherit" href="{% url 'pollingSite:settings' %}"><button type="submit" style="background-color: #990000">Account Settings</button></a></div>
    <div class="three columns"><a style="text-decoration:none; color:inherit" href="{% url 'pollingSite:addClass' %}"><button type="submit" style="background-color: #990000">Add Class</button></a></div>
    {% for class in classroom %}
    {% ifchanged class.quarter or class.year %}
    <div class="row">
        <br/>
        <font size="6" style="">
               <u>{{ class.get_quarter_display }} {{ class.year }}</u>
        </font>
        <br/>
    </div>
    <div class="row">
    <div class="two columns"><u>Active Class</u></div>
    <div class="two columns">
        <font size="3"><u>Class Name</u></font>
    </div>
    <div class="seven columns">
        <font size="3">
        <u>Students register by texting to 509-303-4655</u>
        </font>
    </div>
</div>
    {% endifchanged %}
    {% if forloop.counter0|divisibleby:2 %}
    <div class="row" style="background-color:#E5E5E5">
    {% else %}
    <div class="row">
    {% endif %}
    {% if class.isActive %}
    {% if request.user.activeClass == class %}
    <div class="two columns"><a href="{% url 'pollingSite:setActive' class.id %}"><input type="radio" checked style="margin-left:50%"></input></a></div>
    {% else %}
    <div class="two columns"><a href="{% url 'pollingSite:setActive' class.id %}"><input type="radio" style="margin-left:50%"></input></a></div>
    {% endif %}
    {% else %}
    <div class="two columns">&nbsp;</div>
    {% endif %}
    <div class="two columns">
        <font size="3">{{ class.className }}</font>
    </div>
    <div class="six columns">
        <font size="3">
            Text <font style="color:#990000" >Register FirstName LastName ID {{class.classKey}}</font> to register 
        </font>
    </div>
    <div class="one column">
        <a href="{% url 'pollingSite:info' class.id %}">Info</a>
    </div>
</div>
{% endfor %}
</div>
{% endblock content%}