<div class="row">
    {% if 'index/' in request.path %}
        <div class="three columns"><a href="{% url 'pollingSite:index' %}"><button type="submit" style="background-color: #990000">Home</button></a></div>
    {% else %}
        <div class="three columns"><a href="{% url 'pollingSite:index' %}"><button type="submit">Home</button></a></div>
    {% endif %}
    {% if 'poll/' in request.path %}
        <div class="three columns"><a href="{% url 'pollingSite:createPoll' request.user.activeClass %}"><button type="submit" style="background-color: #990000">Poll</button></a></div>
    {% else %}
        <div class="three columns"><a href="{% url 'pollingSite:createPoll' request.user.activeClass %}"><button type="submit">Poll</button></a></div>
    {% endif %}
    {% if 'report/' in request.path %}
        <div class="three columns"><a href="{% url 'pollingSite:report' %}"><button type="submit"style="background-color: #990000">Report</button></a></div>
    {% else %}
        <div class="three columns"><a href="{% url 'pollingSite:report' %}"><button type="submit">Report</button></a></div>
    {% endif %}
        <div class="three columns"><a href="{% url 'pollingSite:logout' %}"><button type="submit">Log Out</button></a></div>
</div>
{% if 'settings/' in request.path %}
<div class="row">
<div class="three columns"><label><b>&nbsp;</b></label></div>
{% if 'usersettings/' in request.path %}
<div class="three columns"><a href="{% url 'pollingSite:settings' %}"><button type="submit" style="background-color: #990000">User Settings</button></a></div> 
{% else %}
<div class="three columns"><a href="{% url 'pollingSite:settings' %}"><button type="submit">User Settings</button></a></div> 
{% endif %}
{% if 'change-password/' in request.path %}
<div class="three columns"><a href="{% url 'pollingSite:changePassword' %}"><button type="submit" style="background-color: #990000">Change Password</button></a></div> 
{% else %}
<div class="three columns"><a href="{% url 'pollingSite:changePassword' %}"><button type="submit">Change Password</button></a></div> 
{% endif %}
<div class="three columns"><label><b>&nbsp;</b></label></div>
</div>
{% endif %}