<div class="row">
    {% if 'index/' in request.path %}
        <div class="three columns"><a href="{% url 'pollingSite:index' %}"><button type="submit" style="background-color: #990000"><b>Home</b></button></a></div>
    {% else %}
        <div class="three columns"><a href="{% url 'pollingSite:index' %}"><button type="submit"><b>Home</b></button></a></div>
    {% endif %}
    {% if 'polladmin/' in request.path %}
        <div class="three columns"><a href="{% url 'pollingSite:pollAdmin' %}"><button type="submit" style="background-color: #990000"><b>Poll Admin</b></button></a></div>
    {% else %}
        <div class="three columns"><a href="{% url 'pollingSite:pollAdmin' %}"><button type="submit"><b>Poll Admin</b></button></a></div>
    {% endif %}
    {% if 'settings/' in request.path %}
        <div class="three columns"><a href="{% url 'pollingSite:settings' %}"><button type="submit"style="background-color: #990000"><b>Settings</b></button></a></div>
    {% else %}
        <div class="three columns"><a href="{% url 'pollingSite:settings' %}"><button type="submit">Settings</button></a></div>
    {% endif %}
        <div class="three columns"><a href="{% url 'pollingSite:logout' %}"><button type="submit">Log Out</button></a></div>
</div>
{% if 'polladmin/' in request.path %}
<div class="row">
    {% if 'home/' in request.path %}
        <div class="three columns"><a href="{% url 'pollingSite:pollAdmin' %}"><button type="submit" style="background-color: #990000">Add/Select Class</button></a></div>
    {% else %}
        <div class="three columns"><a href="{% url 'pollingSite:pollAdmin' %}"><button type="submit">Add/Select Class</button></a></div>
    {% endif %}
    {% if 'runpoll/' in request.path %}
        <div class="three columns"><a href="{% url 'pollingSite:createPoll' 1%}"><button type="submit" style="background-color: #990000">Create/Run Poll</button></a></div>
    {% elif 'polllist/' in request.path %}
        <div class="three columns"><a href="{% url 'pollingSite:createPoll' 1%}"><button type="submit" style="background-color: #990000">Create/Run Poll</button></a></div>
    {% elif 'createpoll/' in request.path %}
        <div class="three columns"><a href="{% url 'pollingSite:createPoll' 1%}"><button type="submit" style="background-color: #990000">Create/Run Poll</button></a></div>
    {% elif 'active/' in request.path %}
        <div class="three columns"><a href="{% url 'pollingSite:createPoll' 1%}"><button type="submit" style="background-color: #990000">Create/Run Poll</button></a></div>
    {% else %}
        <div class="three columns"><a href="{% url 'pollingSite:createPoll' 1%}"><button type="submit">Create/Run Poll</button></a></div>
    {% endif %}
    {% if 'search/' in request.path %}
        <div class="three columns"><a href="{% url 'pollingSite:search' %}"><button type="submit" style="background-color: #990000">Search Student</button></a></div>
    {% else %}
        <div class="three columns"><a href="{% url 'pollingSite:search' %}"><button type="submit">Search Student</button></a></div>
    {% endif %}    
    {% if 'report/' in request.path %}
        <div class="three columns"><a href="{% url 'pollingSite:report' %}"><button type="submit" style="background-color: #990000">Report</button></a></div> 
    {% else %}
        <div class="three columns"><a href="{% url 'pollingSite:report' %}"><button type="submit">Report</button></a></div> 
    {% endif %}
</div>
{% endif %}