{% extends 'pollingSite/base.html' %}
{% block content %}
<div class="row">
    <div class="four columns"><font size="5"><b>Poll Name</b></font></div>
    <div class="four columns"><font size="5"><b>Possible Answers</b></font></div>
    <div class="four columns"><font size="5"><b>Correct Answer</b></font></div>
</div>
<div class="row">
    <div class="column"><font size="5"><b>--------------------------------------------------------------------------------------------------------------------</b></font></div>
</div>
<div class="row">
    <div class="four columns"><input type="radio" name="select"><font size="3"><b>&nbsp; five answers 3</b></font></div>
    <div class="one column"><label><b>&nbsp;</b></label></div>
    <div class="three columns"><font size="3"><b>5</b></font></div>
    <div class="one column"><label><b>&nbsp;</b></label></div>
    <div class="three columns"><font size="3"><b>3</b></font></div>
</div>
<div class="row">
    <div class="four columns"><input type="radio" name="select"><font size="3"><b>&nbsp; four answers 4</b></font></div>
    <div class="one column"><label><b>&nbsp;</b></label></div>
    <div class="three columns"><font size="3"><b>4</b></font></div>
    <div class="one column"><label><b>&nbsp;</b></label></div>
    <div class="three columns"><font size="3"><b>4</b></font></div>
</div>
<div class="row">
    <div class="four columns"><input type="radio" name="select"><font size="3"><b>&nbsp; ten answers 8</b></font></div>
    <div class="one column"><label><b>&nbsp;</b></label></div>
    <div class="three columns"><font size="3"><b>10</b></font></div>
    <div class="one column"><label><b>&nbsp;</b></label></div>
    <div class="three columns"><font size="3"><b>8</b></font></div>
</div>
<div class="row">
    <div class="four columns"><input type="radio" name="select"><font size="3"><b>&nbsp; eight answers 5</b></font></div>
    <div class="one column"><label><b>&nbsp;</b></label></div>
    <div class="three columns"><font size="3"><b>8</b></font></div>
    <div class="one column"><label><b>&nbsp;</b></label></div>
    <div class="three columns"><font size="3"><b>5</b></font></div>
</div>
<div class="row">
    <div class="four columns"><font size="3"><b>...</b></font></div>
</div>
{% endblock content %}