{% extends 'pollingSite/base.html' %}


{% block content %}
    <div class="row">&nbsp;</div>
    <div class="row">
    <div class="three columns"><label><b>&nbsp;</b></label></div>
    <div class="five columns"><label style="text-align:center; font-size:xx-large"><b>Class Key: {{ curClass.classKey }}</b></label></div>
    

</div>
<div class="row">&nbsp;</div>
    <table style="width:100%">
    <tr>
        <th><label style="text-align:left; font-size:x-large">Poll Name</label></th>
        <th><label style="text-align:left; font-size:x-large">Possible Answers</label></th>
        <th><label style="text-align:left; font-size:x-large">Correct Answer</label></th>
    </tr>
    {% for poll in polls %}
    <tr>
        <th>
            <a style="text-decoration:none; text-align:right; color:inherit" href="{% url 'pollingSite:activePoll' poll.classroom.id poll.id %}">
                {{ poll.name }}
            </a>
        </th>
        <th>
            <a style="text-decoration:none; text-align:right; color:inherit" href="{% url 'pollingSite:activePoll' poll.classroom.id poll.id %}">
                {{ poll.options }}
            </a>
        </th>
        <th>
            <a style="text-decoration:none; text-align:center; color:inherit" href="{% url 'pollingSite:activePoll' poll.classroom.id poll.id %}">
                {{ poll.correct }}
            </a>
        </th>
    </tr>
    {% endfor %}

</table>
<div class="row">
    <div class="four columns"><label><b>&nbsp;</b></label></div>
    <div class="four columns"><a style="text-decoration:none; color:inherit" href="{% url 'pollingSite:createPoll' classroom %}"><button type="submit" style="background-color: #990000">Create Poll</button></a></div> 

    <div class="four columns"><label><b>&nbsp;</b></label></div>
    </div>
    {% endblock content %}
