{% extends 'pollingSite/base.html' %}
{% block content %}
<table style="width:100%">
    <tr>
        <th>Poll Name</th>
        <th>Possible Answers</th>
        <th>Correct Answer</th>
    </tr>
    {% for poll in polls %}
                <tr>
                    <th><a style="text-decoration:none; color:inherit" href="{% url 'pollingSite:activePoll' poll.classroom.id poll.id %}">
                {{ poll.name }}
                </a></th>
                    <th>
                        <a style="text-decoration:none; color:inherit"href="{% url 'pollingSite:activePoll' poll.classroom.id poll.id %}">
                            {{ poll.options }}
                        </a>
                    </th>
                    <th>
                        <a style="text-decoration:none; color:inherit"href="{% url 'pollingSite:activePoll' poll.classroom.id poll.id %}">
                            {{ poll.correct }}
                        </a>
                    </th>
                </tr>
    {% endfor %}
    
</table>
<div class="row">
    <div class="four columns"><label><b>&nbsp;</b></label></div>
    <div class="four columns"><a style="text-decoration:none; color:inherit" href="{% url 'pollingSite:createPoll' curClass %}"><button type="submit" style="background-color: #990000">Create Poll</button></a></div> 

    <div class="four columns"><label><b>&nbsp;</b></label></div>
    </div>
    {% endblock content %}
