{% extends 'pollingSite/base.html' %}
{% block body %}
<body>
    <div class="container" style="text-align:center">

        <!-- columns should be the immediate child of a .row -->
        <div class="row">
            <div class="three columns"><button type="submit">Home</button></div>
            <div class="three columns"><button type="submit" style="background-color: #990000">Search</button></div>
            <div class="three columns"><button type="submit">Class</button></div>
            <div class="three columns"><button type="submit">Log Out</button></div>
        </div>
        <div class="row">
            <label style="text-align:center"><font size="6"><b>Search Records</b></font></label>
        </div>
        <label><b>By Class </b></label>
        <input type="text" placeholder="Enter A Class" name="class" required>

        <label><b>By Student</b></label>
        <input type="text" placeholder="Enter Student Name" name="student" required>
        <label><b>By StudentID</b></label>
        <input type="text" placeholder="Enter StudentID" name="ID" required>

        <button type="submit" style="background-color: #990000">Search</button>
    </div>
</body>
{% endblock body %}