{% extends 'pollingSite/base.html' %}
{% block content %}
<body>

        <!-- columns should be the immediate child of a .row -->
        <div class="row">
            <label style="text-align:center"><font size="6"><b>Search Records</b></font></label>
        </div>
        <label><b>By Class </b></label>
        <input type="text" placeholder="Enter A Class" name="class" required>

        <label><b>By Student</b></label>
        <input type="text" placeholder="Enter Student Name" name="student" required>
        <label><b>By StudentID</b></label>
        <input type="text" placeholder="Enter StudentID" name="ID" required>

        <button type="submit" style="background-color: #990000">Search</button>
</body>
{% endblock content %}