{% extends 'pollingSite/base.html' %}
{% block content %}
<label style="text-align:center"><font size="6"><b>User Settings</b></font></label>
{% if message is not None %}
<label style="text-align:center"><font style="color:#990000" size="4"><b>{{message}}</b></font></label>
{% endif %}
        <form method="post" style="border-color:white">
        {% csrf_token %}
            {{form.as_table}}
            
            <div class="row">&nbsp;</div>
            <div class="row">
                <div class="three columns"><label><b>&nbsp;</b></label></div>
                <div class="six columns"><a href="{% url 'pollingSite:index' %}"><button style="background-color: #990000">Update Information</button></div>
                <div class="three columns"><label><b>&nbsp;</b></label></div>
            </div>
        </form>
        <div class="twelve columns"><label><b>&nbsp;</b></label></div>
{% endblock content %}