{% extends 'pollingSite/base.html' %}
{% block content %}
<div class="row">
    <label style="text-align:center"><font size="6"><b>CS480_002</b></font></label>
</div>
<div class="row">
    <button type="submit" style="background-color: #990000">Add Student</button>
</div>
<div class="row">
    <div id="pollbox" class="six columns"><font size="4"><b>- Cerna,Keyla</b></font></div>
</div>
<div class="row">
    <div id="pollbox1" class="six columns"><font size="4"><b>- Discher, Kyle</b></font></div>
</div>
<div class="row">
    <div id="pollbox1" class="six columns"><font size="4"><b>- Guadarrama, Antonio</b></font></div>
</div>
<div class="row">
    <div id="pollbox1" class="six columns"><font size="4"><b>- Stearns, Jason</b></font></div>
</div>
<div class="row">
    <div class="four columns"><a href="{% url 'pollingSite:attendance' 1 %}"><button type="submit">Attendance</button></a></div>
    <div class="four columns"></div>
    <div class="four columns"><button type="submit">View Polls</button></div>
</div>
{% endblock content %}